<%= form_with model: @gardner, local: true do |form| %>
  
  <% if @gardner.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@gardner.errors.count, "error") %> prohibited this
        gardner from being saved:
      </h2>
      <ul>
        <% @gardner.errors.full_messages.each do |msg| %>
          <li><% msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :number %><br>
    <%= form.text_field :number %>
  </p>
  
  <p>
    <%= form.label :plot_num %><br>
    <%= form.text_field :plot_num %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>